<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="static/style.css">
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container">
  <div class="header-container d-flex align-items-center">
                <div class="logo mr-auto">
                    <h1 class="text-light"><a href="/"><span>Disease Indicator</span></a></h1>

                </div>

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Privacy & Policy</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </nav><!-- .nav-menu -->
            </div><!-- End Header Container -->
        </div>
    </header><!-- End Header -->


    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative">
            <h1 style="font-size: 70px;">Welcome </h1> <br>
            <form action="symtomps.html" method="POST">
                <div class="row justify-content-center">
                    <div class="col-md-8 ">
                        <label class="sr-only" for="inlineFormInputGroup">Name</label>
                        <div class="input-group mb-2 input-group-lg">
                            <div class="input-group-prepend ">
                                <div class="input-group-text">Your Good Name</div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Full Name">
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-2" style="font-size: 22px;">Get Started</button>
                </div>

            </form>

        </div>
    </section>





    <!-- JS scripts-->
    <script src="static/bootstrap/js/jquery-3.5.1.slim.min.js"> </script>
    <script src="static/bootstrap/js/bootstrap.bundle.min.js"> </script>
</body>

</html>